@font-face {
    font-family: 'Cavolini';
    src: url('fonts/CAVOLINI.TTF') format('woff2'),
         url('fonts/CAVOLINIBOLD.TTF') format('woff'),
         url('fonts/CAVOLINIBOLDITALIC.TTF') format('truetype'),
         url('fonts/CAVOLINIITALIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/Cascadia.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box; 
   font-family: Cavolini;

}
/* Custom Scroll Bar CSS  https://codepen.io/254brady/pen/GRMvVaG*/ 
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: violet;
}
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: green;
}
/* ///////////Section1///////// */
.section1 {
    flex-direction: column;
    background-image: url("img/img1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    background-repeat: no-repeat;
    /* height: 100vh; */
    height: 50rem;
    justify-content: center;
    align-items: center;
    font-family: cascadia code;
    margin-bottom: 1rem;
    font-size: 3rem;
    /* font-weight: 400; */
    color:black;
    line-height: 4rem;
    text-align: center;

}
.section1 h1, .section1 h2 { 
    font-family: cascadia code  ;
    font-size: 2.5rem;
}

img{
    display: flex;
    width: 100%;
}
a {
    text-decoration: none;
    transition:0.3s;
}
/* body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} */
nav{
    position: fixed;
    isolation:isolate;
    width:100%;
    z-index: 9;
    color: #E59934 ;
    font-size: 1.5rem ;
}
.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E59934;;
}
.nav_logo a {
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
}
.nav_menu_btn{
    font-size: 1.5 rem;
    color: white;
    cursor:pointer;
}
.nav_links{
   position: absolute;
   top: 64px; 
   left:0;
   width:100%;
   padding: 2rem;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:2rem;
   background-color: orangered;
   transform: 0.5s;
   z-index:-1;
   transform: translateY(-100%);
}
.nav_links.open{
    transform:translateY(0);
}
.nav_links a{
    font-weight: 500;
     color: var(--white); 
    
}
.nav_links a:hover{
    color: #753188;
    font-weight: bold;
}
.media-icons{
     font-size: 2rem;
}
/* .nav_btn{
    display: none;
} */
.header_container {
    max-width: var(--max-width);
    margin:auto;
    padding-block: 8rem 2rem;
    padding-inline: 1rem;
    display: grid;
    gap: 2rem;
    overflow-x: hidden;
}
.avatar{
    position: relative;
    isolation: isolate; /* Permet de gérer les z-index des éléments enfants */
    width: 400px; /* Taille du conteneur */
    height: 400px; /* Assure un cercle parfait */
    margin: 0 auto; /* Centre horizontalement */
    border-radius: 50%; /* Rend le conteneur circulaire */
    overflow: hidden; /* Cache le contenu en dehors du cercle */
}
.header_image::before{
    position: absolute;
    content:"";
    width: 100%;
    aspect-ratio: 1;
    top:50%;
    left: 50%;
    transform: translate (-50%, -50%);
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    opacity: 0.5;
    z-index: -1;
}
.header_image img{
    width: 100%; /* Ajuste l'image à la largeur du conteneur */
    height: 100%; /* Ajuste la hauteur au conteneur */
    object-fit: cover; /* Remplit le cercle en gardant les proportions */
}

.header_content h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    color: #753188;
    line-height: 3rem;
    text-align: center;
}

.header_content p {
    margin-bottom: 2rem;
    columns: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
}
/* ////////////Section Parcours */
.section_experiences h2{ 
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    color: #753188;
    line-height: 3rem;
    text-align: center;
}
.experiences_content h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: #E59934;
    line-height: 3rem;
    text-align: left;
}
.section_parcours h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    color: #753188;
    line-height: 3rem;
    text-align: center;
}
.section_parcours h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: #E59934;
    line-height: 3rem;
    text-align: left;
  }
  .section_web_dev h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    color: #753188;
    line-height: 3rem;
    text-align: center;
}
.section_web_dev h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: #E59934;
    line-height: 3rem;
    text-align: left;
}

  .container_web{
    width: 60%;
    height: 80vh;
    /* background: #222; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .progress_bar{
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
  }
  .progress_bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
  }
  .progress_bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .html {
    background: #76a859;
    animation: html 1s linear forwards;
  }
  .css {
    background: #76a859;
    animation: css 1s linear forwards;
  }
  .js {
    background: #76a859;
    animation: js 1s linear forwards;
  }
  .c_sh {
    background: #76a859;
    animation: c_sh 1s linear forwards;
  }
  .php {
    background: #76a859;
    animation: php 1s linear forwards;
  }
  .python {
    background: #76a859;
    animation: python 1s linear forwards;
  }
 @keyframes html{
    100%{
        width:86%;
    }
 }
 @keyframes css{
    100%{
        width:46%;
    }
 }
 @keyframes js{
    100%{
        width:86%;
    }
 }
 @keyframes C{
    100%{
        width:76%;
    }
 }
 @keyframes php{
    100%{
        width:66%;
    }
 }
 @keyframes python{
    100%{
        width:56%;
    }
 }
  .html span {
    border:1px solid #76a859;
  }
  .css span {
    border:1px solid #76a859;
  }
  .js span {
    border:1px solid #76a859;
  }
  .c span {
    border:1px solid #76a859;
  }
  .python span {
    border:1px solid #76a859;
  }
 /* Section générale pour les expériences */
.section_experiences {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Swiper Container (Général) */
.swiper-container {
    width: 100%;
    max-width: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Swiper Slide pour Coverflow */
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    max-width: 80%;
    background: #ecd1ff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: blur(4px);
}

/* Slide actif */
.swiper-slide-active {
    filter: blur(0);
    background: #fff;
    transform: scale(1.05);
}

/* Testbox pour contenu des slides */
.testbox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.testbox h4 {
    font-size: 1.5rem;
    color: #753188;
    margin-bottom: 10px;
}

.testbox p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

/* Détails et image des expériences */
.testbox .details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.testbox .details .imgBox {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testbox .details .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.testbox .details .imgBox:hover img {
    transform: scale(1.1);
}

  .section_web_dev{
    margin-top: 7rem;
  }
  #exp_progress_bar_container{
    position:relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 59px;
  }
  #exp_progress_bar_container ul{
    padding: 0%;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width:100%;
    margin-top: -40px;
  }
  #exp_progress_bar_container li:before{
    content: "";
    display: block;
    margin: auto;
    width: 60px;
    height: 40px;
    border-radius: 10%;
    border: solid 2px white;
    transition: all ease 0.3s;
  }
  #exp_progress_bar_container li.active:before,
  #exp_progress_bar_container li:hover::before{
    background: #753188;
    /* box-shadow: 0 15px 50px rgba(0,0,0,.2); */
  }
  #exp_progress_bar_container li {
    list-style: none;
    float:left;
    width: 20%;
    text-align: center;
    color: #E59934;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.25s;
    vertical-align: bottom;
    height: 59px;
    position: relative;
  }
  #exp_progress_bar_container li .step_inner{  
  position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
  }
  #exp_progress_bar_container li.active, #exp_progress_bar_container li:hover{
    color: #753188;
  }
  #exp_progress_bar_container li:after {
    content: "";
    display: block;
    width:5px ;
    background: #777;
    margin: auto;
    /* border: solid 7px blue; des petits cercles sur la ligne
    border-radius: 50%; */
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0,0,0,0.3);
    transition: all ease 0.2s;
  }
  #exp_progress_bar_container li:hover::after{
    background:#753188;;
  }
  #exp_progress_bar_container li:active:after{
    background:#753188; ;
  }
  /* #exp_progress_bar_container #line{ */
  #line{
    width: 80%;
    margin: auto;
    background:#E59934;;
    height: 5px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
  }
  #exp_progress_bar_container #line_process.progress {
      width: 80%; /* Simule la progression */
  }
  #exp_progress_bar_container #line_process{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
    width: 3%;
    height: 100%;
    background: #753188;
    background: linear-gradient(to right, deepskyblue 0% #e91e63 100%);
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.95s;
    }
#progress_content_section{
    width: 60%;
    margin: auto;
    background:#f3f3f3 ;
    border-radius: 4px;
}
/* #progress_content_section .section_content{ */
.section_content{
    display: none; /* Masquer par défaut */
    padding: 30px 40px;
    text-align: center;

}
.section_content.active {
    display: block; /* Afficher uniquement si la classe 'active' est présente */
}

/* /////////section projets/////////// */
.section_projets,
.section_projets::before,
.section_projets::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section_projets{
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 80%;
}


.swiper {
    width: 100%;
    padding: 50px 0;
  }
  
  .swiper .swiper-slide {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    transition: 1s;
    user-select: none;
  }
  
  .swiper .swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background:  #ecd1ff;
    mix-blend-mode: multiply;
    z-index: 1;
  }
  
  .swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }
  
  .swiper .swiper-slide p {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    z-index: 2;
    opacity: 0;
    transform: rotate(360deg) scale(0);
    transition: 0.8s;
  }
  
  .swiper .swiper-slide-active {
    position: relative;
    width: 750px;
    transition: 1s;
  }
  
  .swiper .swiper-slide-active::after {
    background: rgba(123, 123, 123, 0.4);
  }
  
  .swiper .swiper-slide-active img {
    transform: scale(1.3);
    object-position: 50% 0%;
  }
  
  .swiper .swiper-slide-active p {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.6s ease-in-out;
  }
  
  .swiper-pagination-bullet-active {
    width: 32px;
    background-color: #E59934;
    border-radius: 14px;
  }
  
 
  
  #play-pause-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 3%;
    bottom: 5%;
    background-color: transparent;
    background-image: radial-gradient(
      50% 115% at 50% -5%,
      rgba(255, 255, 255, 0.11) 0%,
      transparent 100%
    );
    box-shadow: inset 0 0px 10px 0px rgba(255, 255, 255, 0.14),
      inset 0px 5px 10px 0px rgba(255, 255, 255, 0.11),
      inset 0px 2px 5px 0px rgba(255, 255, 255, 0.4),
      inset 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    border: 0;
    border-radius: 50%;
    outline: 0;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #play-pause-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  #play-pause-button:active {
    transform: scale(0.95);
  }
  
  .hidden {
    display: none;
  }
  
  .logo {
    position: fixed;
    right: -20px;
    bottom: -35px;
    z-index: 10;
  }
  
  .logo img {
    width: 120px;
  }

  #slide-text-container{
    width: 40%;
    margin: auto;
    background:#f3f3f357 ;
    border-radius: 4px;
}
/* /////////section contact/////////// */
.section_contact{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to top, #E59934, #fff);
}
.contact-container{
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-title h2{
  font-weight: 600;
  color: #E59934;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #E59934;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color:black;
  border-radius: 50px;
}
.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus{
  border: 2px solid #E59934;
}
.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #753188;;
  transition: all ease 0.3s
}
/* /////////section footer/////////// */
footer{
  
    background:#753188;
    width: 100%;
    padding:15px 0;
    text-align: center;
    font-family: cascadia code;
    font-size: 20px;
    color: #fff;
}
/* Scroll To Top Button CSS  https://codepen.io/254brady/pen/GRMvVaG */
.scroll-button a{
  position:fixed;
  bottom:20px;
  right:20px;
  color:white;
  background:orange;
  padding:10px 12px;
  font-size: 50px;
  border-radius: 50px;
  box-shadow: rgba(0,0,0,0.15);
  z-index: 1;
  /* display:none; */
}





  
  /* @media (max-width: 890px) {
    .logo {
    right: -10px;
    bottom: -20px;
  }
    
   .logo img {
    width: 80px;
    }
  } */


@media (width >768px){
    nav{
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .nav_header{
        flex:1;
        padding:0;
        background-color: transparent;
    }
    .nav_logo a {
        color: var(--text-dark);
    }
    .nav_logo a span{
        color: var(--primary-color);
    }
    .nav_menu_btn{
        display: none;
    }
    .nav_links{
        position: static ;
        padding :0%;
        flex-direction : row;
        background-color : transparent;
        transform: none;
    }
    .nav_links a {
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 4px solid transparent;
    }
    .nav_links a:hover{
        border-color: var(--primary-color) ;
    }
    .nav_btn{
        display: flex;
        flex:1;
    }
    .nav_btn .btn{
        padding: .75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .header_container{
        padding-block: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .header_image{
        grid-area: 1/2/2/3;
    }
    .header_content :is(h1, p, .bar){
        text-align: left;
    }
    .container_projets{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
    .section1 {
        font-size: 2rem; /* Plus petit texte */
        line-height: 2.5rem; /* Ajustement de l'interligne */
        padding: 1rem; /* Ajout d'un padding pour éviter les bords */
    }

    .section1 h1, 
    .section1 h2 {
        font-size: 1.8rem; /* Réduction des titres */
    }
    .experiences_content{
        padding-block: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    img {
        width: 100%;
        height: auto; /* Maintien des proportions */
    }

}
@media (width >1024px){
    .header_content form{
        flex-direction: row;
    }
    .header_content button{
       width: fit-content; 
    }
    .container_web {
        flex-direction: row; /* Conserver une disposition horizontale */
        padding: 20px; /* Ajouter un peu de marge */
    }

    .skills h2 {
        font-size: 20px; /* Texte plus grand et espacement généreux */
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .progress_bar {
        width: 800px; /* Barre plus large */
        height: 12px; /* Barre légèrement plus haute */
    }

    .progress_bar div span {
        height: 50px; /* Taille augmentée pour le cercle */
        width: 50px;
        margin-top: -20px; /* Ajuster la position du cercle */
        margin-right: -25px;
    }
}
@media (max-width: 640px) {
    .container_web {
    flex-direction: column; /* Empiler les éléments verticalement */
    padding: 10px; /* Ajouter du padding pour éviter les débordements */
}

.skills h2 {
    font-size: 14px; /* Réduire la taille de la police */
    margin-top: 20px; /* Diminuer l'espacement supérieur */
    margin-bottom: 10px; /* Ajuster l'espacement inférieur */
}

.progress_bar {
    width: 80%; /* Rendre la barre plus petite et fluide */
     height: 8px; /*Réduire la hauteur de la barre */ 
    
}

.progress_bar div span {
    height: 30px; /* Taille réduite pour le cercle */
    width: 30px;
    margin-top: -12px; /* Ajuster la position du cercle */
    margin-right: -15px;
}
.container_projets{
    grid-template-columns: 1fr;
    padding: 2rem 50px;
}
/* section projets */
.swiper .swiper-slide {
  width:50%
}
  
 .logo img {
  width: 80px;
  }
  .contact-inputs{
    width: 80vw;

  }
}
/* https://www.youtube.com/watch?v=E7mGqt7v3Uc section experiences*/
/* nettoyer le css et le html + ajouter la barre fixe en bas de progression + ajouter linkedIn et gitHub+ dounload CV*/














